*{
    background-color: #FFFDDF;
    font-family: 'Garamond', serif;
}

h1{
    text-align: center;
    font-size: 48px;
}

.navigation {
    border-bottom: solid rgb(131, 0, 0);
    overflow: hidden;
}

.navigation a {
    float: left;
    text-align: center;
    padding: 10px;
    color: rgb(151, 0, 0);
}

.navigation a:hover {
    background-color: rgb(131, 0, 0);
    color: white;
}

.navigation a.active {
    background-color: rgb(131, 0, 0);
    color: white
}

h2{
    text-align: center;
    border: black;
    font-size: 40px;
    margin-top: -10px;
}

#content h1{
    text-align: center;
    font-size: 48px;
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 20px;
}
#film1{
    border-bottom:  double;
    padding-top: 20px;
    padding-bottom: 20px;
}
#film1 h2, h3, p{
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}
#film1 h2{
    float: right;
    margin-right: 610px;
    padding-top: 20px;
}
#film1 h3{
    float: right;
    margin-right: 910px;
    margin-top: -250px;
    text-align: left;
}
#film1 p{
    float: right;
    margin-right: 285px;
    margin-top: -190px;
    width: 1000px;
    line-height: 30px;
    text-align: left;
}
#film2{
    border-bottom:  double;
    padding-top: 20px;
    padding-bottom: 20px;
    right: 0%;
    text-align: right;
}
#film2 h2, h3, p{
    font-family: 'Courier New', Courier, monospace;
    float: left;
    text-align: right;
}
#film2 h2{
    padding-top: 20px;
    margin-left: 900px;
}
#film2 h3{
    margin-top: -250px;
    margin-left: 1065px;
}
#film2 p{
    width: 1000px;
    line-height: 30px;
    margin-top: -190px;
margin-left: 280px;}

#film3{
    border-bottom:  double;
    padding-top: 20px;
    padding-bottom: 20px;
}
#film3 h2, h3, p{
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}
#film3 h2{
    float: right;
    margin-right: 855px;
    padding-top: 20px;
}
#film3 h3{
    float: right;
    margin-right: 1090px;
    margin-top: -250px;
    text-align: left;
}
#film3 p{
    float: right;
    margin-right: 285px;
    margin-top: -190px;
    width: 1000px;
    line-height: 30px;
    text-align: left;
}
footer{
    font-size: x-small;
    bottom: 0%;
    position: relative;
    left: 0.5%;
}