*{
    background-color: #FFFDDF;
    font-family: 'Garamond', serif;
}

h1{
    text-align: center;
    font-size: 48px;
}

.navigation {
    border-bottom: solid rgb(131, 0, 0);
    overflow: hidden;
}

.navigation a {
    float: left;
    text-align: center;
    padding: 10px;
    color: rgb(151, 0, 0);
}

.navigation a:hover {
    background-color: rgb(131, 0, 0);
    color: white;
}

.navigation a.active {
    background-color: rgb(131, 0, 0);
    color: white
}

h2{
    text-align: center;
    border: black;
    font-size: 40px;
    margin-top: 10px;
}

p {
        text-align: center;
        width: 100%; 
        line-height: 1.5; 
        padding-bottom: 5%; 
        font-size: 5px;
      }

.body{
        display: flex;
        justify-content: center; /* Centers content horizontally */
        align-items: center; /* Centers content vertically */
}

  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    justify-content: center; 
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
    gap: 20px; 
  }
  
  .gallery-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    background-color: #FFFDDF; 
  }
  
  .gallery-item img {
    width: 400px; 
    height: 400px; 
    border: 2px solid #000;
    border-radius: 5px;
  }
  
  #desc1, #desc2, #desc3, #desc4 {
    line-height: 30px;
    background-color: #E3E3E3;
    padding: 10px;
    border-radius: 5px;
    border: 10px ridge #ddd;
    margin-top: 10px; 
  }
  
  #desc1 h2, #desc2 h2, #desc3 h2, #desc4 h2 {
    background-color: transparent;
    padding-top: 10px;
    line-height: 50px;
  }
  
  @media screen and (max-width: 768px) {
    .gallery {
      grid-template-columns: 1fr; 
    }
  
    #desc1, #desc2, #desc3, #desc4 {
      width: 100%; 
      margin-top: 10px;
    }
  
    .gallery-item {
      padding: 5px;
    }
  }  
